body{
	font-family: 'Nunito Sans', sans-serif;
}
.logo-wrap {
	margin-bottom: 50px;
}
.footer-wrap {
	background-color:#009444;
	font-weight:400;
	font-size:13px;
}
.register-link-wrap, .otp-link-wrap {
	text-align:center;
}

.login-wrap span.register-link-wrap, .otp-wrap span.otp-link-wrap {
	margin:20px auto;
	text-align: center;
	display: block;
}
.forgot-wrap {
	margin-top:80px 
}
.register-wrap {
	margin:120px auto;
}
.forgot-wrap p, .register-wrap p {
	font-size:20px;
	color:#4D4D4D;
	margin-bottom:20px !important;
}
body .otp-wrap p {
	font-size:20px;
	color:#4D4D4D;
	margin-bottom:15px !important;
}
.otp-wrap form .form-group .otp-input input {

}
.otp-wrap form .form-group .otp-input {
	padding: 0px 5px;
    display: block;
    width: 25%;
    float: left;
}
.forgot-wrap h2, .register-wrap h2 {
	font-weight:700;
	font-size:22px ;
	color:#4d4d4d;
	margin:0px 0px 20px 0px

}
label {
	font-weight:700 !important;
	color:#4d4d4d !important;
}
.timer-wrap {
	background-image:url(../img/img-time-otp.png);
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	height:300px;
}
.timer-wrap h1 {
	text-align: center;
	padding: 125px 0px;
	font-weight:400;
	color:#4D4D4D
}
.sidebar-secondary {
	background-color:#F47C31 !important;
}
.logo-dashboard {
	height:105px;
	background-color:#fff;
	padding: 20px;
	margin:auto;
	text-align: center;
}
.logo-dashboard  img{
	width: auto;
    height: 100%;
    margin: auto;
}
.navbar-background-primary {
	background-color: #009444 !important;
}
.navbar-background-primary ul li a i{
	color:#fff
}
.os-host-overflow-x .logo-dashboard  img {

}
.sidebar-yt ul li a.link {
	padding-left:21px
}

.sidebar-yt ul li a p, .sidebar-yt ul li i{
	color:#fff !important
}
body .sidebar-yt ul li .active {
	background-color: #009444 !important;
	border-left:5px solid #006830;
	border-radius:0px !important;
	box-shadow:none !important;
}
.logo-dashboard-wrap {
	height: 105px;
	background-color:#fff;
	padding:10px 0px
}
.logo-dashboard {
	width:auto;
	height:80px;
	background-image: url(../img/logo.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
    text-align: center;
}

.sidebar-collapse .logo-dashboard {
	width:auto;
	height:80px;
	background-image: url(../img/img-logogram.png) !important;
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
    text-align: center;
}
.page-item.active .page-link {
	background-color: #009444 !important;
	border-color:#009444 !important;
}
.btn-sort-wrap a i {
	font-size:22px;
	margin-right:5px;
}
.btn-language a {
	color:#fff !important;
}
.btn-language a span {
	padding: 5px 0px;
    position: relative;
    top: 2px;
 }
 .btn-language a span  .glyphicon {
	top: 2px;
 }
 .btn-language a::after{
	top: 4px !important;
    position: relative;
 }
 .btn-language ul.show li a{
	color:gray !important;
	padding:0px 10px
 }
 .btn-language ul.show li a img {
	 margin-right:10px
 }
 .user-setting a {
	display: flex;
 }
 .user-setting a img {
	width:30px;
	 height:30px;
	 margin-right:10px;
 }
 .user-setting a span {
	 margin-right:10px;
 }
 .user-setting a span h6,.user-setting a span p {
	 margin:auto;
	 text-align:left;
	 font-size:12px;;
	 color:#fff;
 }
 .user-setting a span p {
	 font-weight:700;
 }
 .user-setting a::after{
	top: 10px !important;
	position: relative;
	color:#fff
 }

 .notification-wrap a i {
    color: #fff;
    font-size: 21px !important;
    top: 10px !important;
    margin-top: 4px !important;
}
.notification-wrap a span.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 7px 7px !important;
    position: absolute;
    right: 9px !important;
    top: 9px !important;
    border-radius: 50%;
}
.content-wrapper {
	padding-bottom:40px;;
}
.btn-upload-custom input {
	position: absolute;
	font-size: 50px;
	opacity: 0;
	right: 0;
	top: 0;
	
}
.btn-upload-custom .file {
	float:left;
}
.info-wrap {
	float: left;
    padding: 5px 6px;
    border-radius: 40px;
    background: #FFF3EE;
    margin: 3px 10px;
}
.info-wrap i {
	background: #F26327;
	color:#fff;
	border-radius: 40px;
	padding:4px 9px;
}
.background-primary-gradient button span {
	color:#FFF !important
}
.dataTables_scroll {
	margin-bottom:20px !important
}