body{
	font-family: 'Nunito Sans', sans-serif;
}
.logo-wrap {
	margin-bottom: 50px;
}
.footer-wrap {
	background-color:#009444;
	font-weight:400;
	font-size:13px;
}
.register-link-wrap, .otp-link-wrap {
	text-align:center;
}

.login-wrap span.register-link-wrap, .otp-wrap span.otp-link-wrap {
	margin:20px auto;
	text-align: center;
	display: block;
}
.forgot-wrap {
	margin-top:80px 
}
.register-wrap {
	margin:120px auto;
}
.forgot-wrap p, .register-wrap p {
	font-size:20px;
	color:#4D4D4D;
	margin-bottom:20px !important;
}
body .otp-wrap p {
	font-size:20px;
	color:#4D4D4D;
	margin-bottom:15px !important;
}
.otp-wrap form .form-group .otp-input input {

}
.otp-wrap form .form-group .otp-input {
	padding: 0px 5px;
    display: block;
    width: 25%;
    float: left;
}
.forgot-wrap h2, .register-wrap h2 {
	font-weight:700;
	font-size:22px ;
	color:#4d4d4d;
	margin:0px 0px 20px 0px

}
label {
	font-weight:700 !important;
	color:#4d4d4d !important;
}
.timer-wrap {
	background-image:url(../img/img-time-otp.png);
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	height:300px;
}
.timer-wrap h1 {
	text-align: center;
	padding: 125px 0px;
	font-weight:400;
	color:#4D4D4D
}